@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 700;
  color: #222;
}
p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}
  button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}
body{
  width: 100%;
}
/*header*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #cefad0 ;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #008631;
  transition: 0.3s ease;
}
#navbar li a:hover,#navbar li a.active{
  color:#088178;
}
#navbar li a:active::after, #navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile{
  display: none;
  align-items: center;
}
/*hero*/
#hero{
  background-image: url("C:/Users/GODSTIME/Downloads/Free_Photo___Young_woman_with_shopping_bags_in_a_beautiful_dress_and_hat-removebg-preview.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 70px right -460px;
  background-repeat: no-repeat;
  padding: 0 250px;
  padding-top: 250px;
  color: #008631;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}
#head h1{
  padding-bottom: 15px;
  color: #008631;
  text-decoration: none;
}
#header a h1{
  color: #008631;
  text-decoration: none;
}
#hero button{
  background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/home head.jpg");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
/*feature*/
.section-p1{
  padding: 40px 80px;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 100px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h5{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  display: inline-block;
}
#feature .fe-box h5:nth-child(2){
  background-color: #cdebbc;
}
#feature .fe-box h5:nth-child(3){
  background-color: #d1e8f2;
}#feature .fe-box h5:nth-child(4){
  background-color: #cdd4f8;
}#feature .fe-box h5:nth-child(5){
  background-color: #f6bdf6;
}
#feature .fe-box h5:nth-child(6){
  background-color: #fff2e5;
}
  /*products*/
  #product1{
   text-align: center;
  }
  #product1 .pro-container{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  #product1 .pro{
    width: 23%;
    max-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  }
  #product1 .pro img{
    width: 100%;
    border-radius: 20px;
  }
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
  }
  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }
  #product1 .pro .des span{
    color: #606063;
    font-size: 12px;
  }
  #product1 .pro .des h5{
   padding-top: 7px;
   color:#1a1a1a;
   font-size: 14px; 
  }
  #product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
  }
  #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
  #product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
  #banner h4{
    color: #fff;
    font-size: 16px;
  }
  #banner h2{
    color:#fff;
    font-size: 30px;
    padding: 10px 0;
  }
  #banner h2 span{
    color: #008631;
  }
  #banner button:hover{
    background: #088178;
    color:#fff;
  }
  /*new arrivals*/
  #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/yellow bg.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
  }
  #sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
  #sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
  }
  #sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  #sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
  }
  #sm-banner .banner-box2{
    background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/hanger bg.jpg");
  }
  #banner3{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
  }
  #banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/seasonal sale.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  #banner3 .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/Black Woman Choosing Dress Standing Near Clothing Rail, Yellow Background.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  #banner3 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/Premium Photo _ Happy beautiful young woman hand holding shopping bag isolated over blue background_.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  #banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
  }
  #banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
  }
  #newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
  }
  #newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }
  #newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
  }
  #newsletter p span{
    color: #ffbd27;
  }
  #newsletter .form{
    display: flex;
    width: 40%;
  } 

  #newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo{
    margin-bottom: 30px;
  }
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }
  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  footer .follow{
    margin-top: 20px;
  }
  footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
  }
  footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
    display: flex;
    width: 250px;
    height: 75px;
  }
  footer .install img{
    margin: 10px 0 15px 0;
    width: 250px;
    height: 75px;
  }
  footer .follow i:hover, footer a:hover{
  color: #088178;
  }
  footer .copyright{
    width: 100%;
    text-align: center;
  }
  
  /*media queries*/
@media (max-width:799px) {
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active{
    right:0;
  }
  #navbar li{
  margin-bottom: 25px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile{
    display: none;
    align-items: center;
  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
}

/*Shop Page*/
#page-header{
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/Premium Photo _ Skyscraper area.jpg");
}
#page-header h2, #page-header p{
  color: #fff;
}
#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/abouthead.jpg");
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/*Single Product*/
#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
  font-size: 26px;
}
#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin: 10px;
}
#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
  outline: none;
}
#prodetails .single-pro-details button{
  background: #088178;
  color: #fff;
}
#prodetails .single-pro-details span{
  line-height: 25px;
}

/*blog page*/
#page-header.blog-header{
  background-image: url("C:/Users/GODSTIME/OneDrive/Documents/rivo/blog head 2.jpg");
}
#blog{
  padding: 150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
  width: 50%;
  margin-right: 40px;
}
#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details{
  width: 50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color:#000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover{
  color: #088178;
}
#blog .blog-details a:hover::after{
  background-color: #088178;
}
#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}
/*contact us*/

.container {
	max-width: 1180px;
	margin: 0 auto;
	line-height: 1.5;
  min-height: 400px;
	background-image: url("C:/Users/GODSTIME/OneDrive/Documentsrivo/abouthead.jpg");
	background-size: cover;
}

.site-banner {
	min-height: 400px;
	background-image: url("C:/Users/GODSTIME/OneDrive/Documentsrivo/abouthead.jpg");
	background-size: cover;
	background-position: center;
	color: #ffffff;
  width:100%;
}

.site-banner a {
	color: #008631;
	text-decoration: none;
	font-weight: bold;
	padding: 12px;
}

.header-menu {
	padding: 40px 20px;
  width:100%;
}

#header-right-menu {
	float: right;
  width:100%;
}

.header-active {
	background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.heading {
	color: #ffffff;
	text-align: center;
	font-family: cursive;
	padding: 40px 0px;
	font-size: 3em;
	margin: 0px;
}
/*  header style ends */

.footer {
	display: flex;
}

.footer-column {
	width: 33.3%;
	float: left;
}

.map-image {
	width: 100%;
}

.contact-form-container {
	background-color: #eaeaea;
}

img {
	vertical-align: middle;
}

.tile-content {
	padding: 20px 40px;
}

.tile-content .contact-row {
	margin-bottom: 20px;
}

.tile-field {
	margin-left: 20px;
}

.form-field {
	width: 100%;
	padding: 10px 8px;
    border-radius: 4px;
    border: #d9d8d8 1px solid;
}

.button {
	color: #ffffff;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
	background: linear-gradient(to right, #08a9df, #12054a);
	border: 0px;
}
.button:hover{
  color: #000;
  background-color: #008631;
  border-radius: 20px;
}
#menu-icon {
	display: none;
	float: right;
}

@media screen and (max-width: 1000px) {
	.footer-column {
		width: 50%;
	}
	.contact-form-container {
		width: 100%;
	}
	.footer {
		display: block;
	}
}

@media screen and (max-width: 540px) {
	#header-right-menu {
		float: none;
		display: none;
	}
	#header-right-menu a {
		display: block;
	}
	.heading {
		padding: 0px;
	}
	.tile-content {
    	padding: 0px 20px;
	}

	.footer-column {
		width: 100%;
	}
	
	#menu-icon {
		display: block;
		float: right;
	}
}






/*media queary for x*/
@media (max-width: 477px){
  #header{
   padding: 10px 30px;
} 
h1{
  font-size: 38px;
}
h2{
  font-size: 32px;
}
.section-p1{
  padding: 20px;
}
#hero{
  padding: 0 20px;
  background-position: 55%;
}
#feature{
  justify-content: space-between;
}
#feature .fe-box{
  width:155px;
  margin:0 0 15px 0;
}
#product1 .pro{
  width: 100%;
}
#banner{
  height: 40vh;
}
#sm-banner .banner-box{
  height: 40vh;
}
#sm-banner .banner-box2{
  margin-top: 20px;
}
#banner3{
  padding: 0 20px;
}
#banner3 .banner-box{
  width: 100%;
}
#newsletter{
  padding: 40px 20px;
}
#newsletter .form{
  width: 100%;
}
footer .copyright{
  text-align: start;
}
/*Single Products*/
#prodetails{
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image{
  width: 100%;
  margin-right: 0px;
}
#prodetails .single-pro-details{
  width: 100%;
}
/*blog media*/
#blog{
  padding: 100px 20px 0 20px;
}
#blog .blog-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#blog .blog-img{
  width: 100%;
  margin-right: 0px;
  margin-bottom: 30px;
}
#blog .blog-details{
  width: 100%;
}


}